.groups.list [component="groups/summary"] .group-panel {
  position: relative;
}
.groups.list [component="groups/summary"] a.group-url {
  position: absolute;
  right: 15px;
  top: 15px;
}
.groups.list [component="groups/summary"] p.group-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
